/***Universal***/

main a {
  background-color: #de742a;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Chewy", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
}

h2 {
  font-family: "Chewy", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.content-width {
  width: 334px;
  margin: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

p {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

/*Header*/

header {
  margin-bottom: 0;
  width: 100%;
  background-color: #495c42;
}

.headercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.show-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0;
}

i {
  color: #d2e673;
  padding-top: 10px;
  padding-right: 30px;
}
/*Hero*/

section.hero {
  background-image: url("images/herobackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding: 56px 0;
}

h1 {
  font-family: "Overlock", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
ul {
  margin: 0;
}

iframe,
.video-overlay {
  display: none;
}

/*About our market*/

.about_our_market {
  background-image: url("images/apples.jpg");
  background-size: cover;
  margin: 10px 0;
}

.about_our_market h2 {
  color: #ffffff;
  text-shadow: 0px 3px 8px #000000;
}
.about_our_market p {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 20px;
}
.about_our_market .content-width {
  padding-top: 30px;
  padding-bottom: 50px;
}
/*******Large Screens********/
@media only screen and (min-width: 1200px) {
  .content-width {
    width: 1130px;
  }

  header {
    background-color: transparent;
  }
  section.hero {
    background-image: none;
  }

  .video-container,
  .video-overlay {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  h1 {
    padding-top: 300px;
    text-align: center;
  }
  iframe,
  .video-overlay {
    display: block;
    pointer-events: none;
    width: 105vw;
    height: 116.5vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .video-overlay {
    display: block;
    background-color: black;
    opacity: 0.3;
  }

  @media (min-aspect-ratio: 16/9) {
    .video-container iframe {
      height: 56.25vw;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-container iframe {
      width: 177.78vh;
    }
  }
  .aboutourmarket {
    display: inline;
  }
}
